html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;

  color: #666;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5 {
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*   
    fixed = parallax
    scroll = normal 
  */

  background-attachment: fixed;
}

.pimg1 {
  background-image: url("../img/background.jpg");
  /* background-size: cover; */
  min-height: 100%;
  opacity: 0.9;
  padding: 65px;
}
.pimg2 {
  background-image: url("../img/city.jpg");
  background-size: cover;
  min-height: 400px;
  opacity: 0.8;
}
.pimg3 {
  background-image: url("../img/bright-bulb.jpg");
  background-size: cover;
  min-height: 400px;
  opacity: 0.8;
}
.pimg4 {
  background-image: url("../img/passion.jpg");
  background-size: cover;
  min-height: 100%;
  opacity: 0.8;
}
.pimg5 {
  background-image: url("../img/background.jpg");
  background-size: cover;
  min-height: 100%;
  opacity: 0.8;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
  /* min-height: 250px; */
}
.section-dark a:hover {
  color: #b9b9b9;
}

.section h2 {
  font-weight: 400;
  font-family: "Raleway", Georgia;
  text-decoration: none;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.9;
}
.border2 {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.9;
}

.pimg1 .box {
  width: 450px;
  background: rgba(0, 0, 0, 0.3);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
}
.ptext .border.trans,
.border2.trans {
  background-color: transparent;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
.box h5 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a {
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250;
}
.box li a:hover {
  color: #b9b9b9;
}

.pimg5 .outter-contact-us {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: block;
}
/* .pimg5 .outter-contact-us .contact-us {
  display: inline-block;
} */
.pimg5 .outter-contact-us .contact-us img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3,
  .pimg4,
  .pimg5 {
    background-attachment: fixed;
    height: 300px;
  }
}

.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
.loading h3 {
  position: fixed;
  top: 37%;
  left: 51%;
  transform: translate(-50%, -50%);
}
.loading-image {
  /* position: fixed;
  display: block;
  float: right; */

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* height: 50px;
  width: 50px; */
}

footer {
  margin: 0;
  padding: 0;
}
.footer-contact {
  background-color: #282e34;
  color: #ddd;
}

ul li {
  display: inline-block;
  margin: 4px;
  list-style: none;
}
